.container {
  text-align: start;
}

.top-level-space {
  margin-bottom: 1em;
}

.sub-level-space {
  margin-bottom: 0.3em;
}

.left-space {
  margin-left: 1.5em;
}

.icon-dot::before {
  content: •;
}

.icon-up:before {
  content: "\25B2";
}

.icon-down:before {
  content: "\25BC";
}